@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
  filter: saturate(5px);
  background-image: url('https://img.freepik.com/free-photo/ultra-detailed-nebula-abstract-wallpaper-4_1562-749.jpg?t=st=1720261595~exp=1720265195~hmac=fa38cdbd69d3e66df53bef3e7c7a40ff708068c7cf4c8d973a0046e652e2eb36&w=1480');
  height: 150vh;
  margin: 0;
  padding: 0;
}

.head {
  text-shadow: 0 0 10px white;
}

.head{
  color: white;
  text-align: center;
}

.card {
  padding: 160px 150px;
  width: 50px;
  background-color: hsla(0,0%,0%,0.601);
  box-shadow: 0 0 10px white;
  border-radius: 20px;
  margin-left: 60px;
  align-items: center;
  align-content: center;
}

.list {
  text-shadow: 0 0 10px white;
  color: white;
  margin-top: -170px;
}

.btn-1{
  padding: 5px 150px;
  background-color: transparent;
  margin-left: -143px;
  border-radius: 20px;
  box-shadow: 0 0 10px white;
}

.freya {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Consolas;
}

.btn-2{
  padding: 5px 138px;
  background-color: transparent;
  margin-left: -143px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px white;
}

.fans {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Consolas;
}

#p {
  margin-top: 20px;
}

.btn-3{
  padding: 5px 138px;
  background-color: transparent;
  margin-left: -128px;
  margin-top: 5px;
  border-radius: 20px;
  box-shadow: 0 0 10px white;
}

.owner {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Consolas;
}

.btn-4{
  padding: 5px 138px;
  background-color: transparent;
  margin-left: -141px;
  margin-top: 5px;
  border-radius: 20px;
  box-shadow: 0 0 10px white;
}

.btn-5 {
  padding: 5px 138px;
  background-color: transparent;
  margin-left: -136px;
  margin-top: 5px;
  border-radius: 20px;
  box-shadow: 0 0 10px white;
}

#punya {
  margin-top: -25px;
}

#join{
  margin-top: -100px;
}

.join {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}